<configuration>

    <!-- 스프링부트 기본 로그 설정 가져오기 (색깔 + 패턴 다 포함) -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- log4jdbc 관련 로거들 -->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>
    <logger name="jdbc.connection" level="OFF"/>

    <!-- 루트 로거: 스프링부트 기본 CONSOLE appender 사용 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>