<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.network.mapper.NetworkMapper">

    <insert id="addNetwork" useGeneratedKeys="true" keyProperty="networkSeq" parameterType="com.example.project.network.dto.request.AddNetworkReq">
        /** NetworkMapper.addNetwork **/
        INSERT INTO wifi_network (
            user_seq,
            ssid,
            password,
            auth_type,
            hidden_yn,
            alias,
            memo,
            active_yn,
            guest_yn
        )
        VALUES (
            #{userSeq},
            #{ssid},
            #{password},
            #{authType},
            #{hiddenYn},
            #{alias},
            #{memo},
            #{activeYn},
            #{guestYn}
        )
    </insert>

    <select id="getNetworkById">
        SELECT
              network_seq
            , user_seq
            , ssid
            , password
            , auth_type
            , hidden_yn
        FROM wifi_network
        WHERE 1=1
            AND network_seq = #{networkSeq}
            AND hidden_yn = "N"
            AND active_yn = "Y"
    </select>

</mapper>
