<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.user.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.project.user.domain.User">
        <id     property="userSeq" column="user_seq"/>
        <result property="email"   column="email"/>
        <result property="password" column="password"/>
        <result property="name"    column="name"/>
        <result property="role"    column="role"/>
        <result property="delYn" column="del_yn"/>
    </resultMap>

    <!-- 이메일 중복 체크 -->
    <select id="existsByEmail" resultType="int">
        SELECT COUNT(1)
        FROM users
        WHERE 1=1
            AND email = #{email}
            AND del_yn = "N"
    </select>

    <!-- 이메일로 유저 조회 (로그인, 시큐리티용) -->
    <select id="findByEmail" resultMap="UserResultMap">
        SELECT user_seq, email, password, name, role, del_yn
        FROM users
        WHERE email = #{email}
          AND del_yn = 'N'
    </select>

    <!-- 회원 저장 -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userSeq" parameterType="com.example.project.user.dto.request.UserJoinReq">

        INSERT INTO users (
            email,
            password,
            name,
            role
        )
        VALUES (
            #{email},
            #{password},
            #{name},
            #{role}
        )
    </insert>

</mapper>
